* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #171758;
  color: #ffffff;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
}

.converter {
  width: min(100vw, 450px);
  min-height: 100px;
  margin: 10px 0;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #c1c1db;
}

label {
  margin-top: 4em;
  margin-bottom: 1.2em;
  color: #ffffff;
  font-size: 2em;
}

#number {
  width: 250px;
  height: 50px;
  margin: 10px;
  text-align: center;
  font-size: 2rem;

  border: 2px solid #7979a3;
}

#convert-btn {
  cursor: pointer;
  margin-top: 1em;
  width: 250px;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 15px;
  border-color: #7979a3;
  color: #ffffff;
  background-color: #171758;
}

#output {
  color: #ffffff;
  font-size: 2em;
  margin-top: 2em;
  width: min(100vw, 450px);
  min-height: 100px;
  margin: 10px 0;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #171758;
  text-align: center;
}

.button {
  border-radius: 1px;
  border-color: #ffffff;
}
